.toggle-switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem; }
  .toggle-switch::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 1px;
    bottom: 0;
    top: 0;
    left: -.9rem;
    background-color: #3a3a3a; }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .toggle-switch input:checked + .slider {
      background-color: #a445ed; }
    .toggle-switch input:focus + .slider {
      box-shadow: 0 0 1px #001250; }
    .toggle-switch input:checked + .slider:before {
      -webkit-transform: translateX(1.25rem);
      -ms-transform: translateX(1.25rem);
      transform: translateX(1.25rem); }
  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.25rem;
    background-color: #ccc;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    border-radius: 3.5rem;
    background-color: #757575; }
    .toggle-switch .slider:hover {
      background-color: #a445ed; }
    .toggle-switch .slider::before {
      position: absolute;
      background-color: #fff;
      content: "";
      height: 1rem;
      width: 1rem;
      bottom: 2px;
      border-radius: 50%;
      transition: 0.4s; }

* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  padding: 0 20rem;
  justify-content: center; }
  body.dark-mode {
    background-color: #050505;
    color: #ffff; }
    body.dark-mode input {
      background-color: #3a3a3a;
      color: #ffff; }
      body.dark-mode input::placeholder {
        color: #ffff; }
    body.dark-mode .select-menu .options {
      background-color: #3a3a3a;
      box-shadow: #a445ed 0px 4px 26px 3px; }

.dictionary-wrapper {
  margin-top: 1rem;
  width: 45rem;
  overflow: hidden; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation .functionss {
    display: flex;
    align-items: center; }
    .navigation .functionss .theme-feature {
      margin-left: 1.5rem; }
      .navigation .functionss .theme-feature .image-toggle {
        cursor: pointer; }
        .navigation .functionss .theme-feature .image-toggle .moon {
          filter: hue-rotate(270deg); }
      .navigation .functionss .theme-feature .night {
        filter: url(#custom-filter);
        stroke: red; }
      .navigation .functionss .theme-feature .toggle {
        display: flex;
        align-items: center;
        gap: 1rem; }
  .navigation .select-menu {
    width: 6rem;
    position: relative;
    cursor: pointer; }
    .navigation .select-menu.active .options {
      display: block; }
    .navigation .select-menu .select-btn::after {
      content: url(../assets/images/icon-arrow-down.svg);
      position: absolute;
      top: 0;
      right: 0rem;
      bottom: 0;
      pointer-events: none; }
    .navigation .select-menu .options {
      position: absolute;
      z-index: 9;
      background-color: #ffff;
      margin-top: 1rem;
      display: none;
      width: 7rem;
      right: 0;
      padding: 1.2rem;
      border-radius: 1rem;
      box-shadow: #777777 0px 4px 12px -4px; }
      .navigation .select-menu .options .option {
        cursor: pointer;
        line-height: 1.7;
        list-style-type: none; }
        .navigation .select-menu .options .option:hover {
          color: #a445ed;
          transition: all 250ms; }

.search-container {
  margin: 1.5rem 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center; }
  .search-container input {
    width: 93%;
    padding: 1.2rem 1.5rem;
    border-radius: 1rem;
    outline: #a445ed;
    background-color: #E9E9E9;
    border: none;
    font-size: 1.3rem; }
    .search-container input:focus {
      outline: 1px solid #a445ed; }
  .search-container img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }

#word-display {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #word-display .word h2 {
    font-size: 4rem;
    text-transform: capitalize; }
  #word-display .word p {
    font-size: 1.7rem;
    color: #a445ed; }

.meanings-container {
  padding-top: 2rem; }
  .meanings-container .partsOfSpeech-wrapper {
    padding-bottom: 1.5rem; }
    .meanings-container .partsOfSpeech-wrapper h4 {
      position: relative; }
    .meanings-container .partsOfSpeech-wrapper h4::before {
      content: "";
      width: 100%;
      height: 1px;
      left: 3.5rem;
      top: 0.5rem;
      align-items: center;
      background-color: #E9E9E9;
      position: absolute; }
  .meanings-container .meaning-wrapper h2 {
    margin-bottom: 1.5rem;
    color: #757575;
    font-weight: lighter;
    font-size: 1.4rem; }
  .meanings-container .synonyms {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem; }
    .meanings-container .synonyms h3 {
      color: #757575; }
    .meanings-container .synonyms a {
      color: #a445ed;
      font-weight: bold; }

.definition-text {
  line-height: 2; }

.definition-item {
  display: flex;
  margin-bottom: 1rem; }

.bullet-point {
  display: inline-block;
  width: 8px;
  margin-right: 5px;
  color: #a445ed; }

.definition_container {
  padding-left: 2rem; }

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6rem; }
  .not-found .emoji {
    font-size: 3rem; }
  .not-found .not-found-content {
    margin-top: 1.5rem;
    font-size: 1.1rem; }
    .not-found .not-found-content h4 {
      margin-bottom: 1rem; }
    .not-found .not-found-content p {
      color: #757575; }

.hiddeN {
  display: none; }

.content {
  display: none; }

.spinner {
  border: 4px solid #757575;
  /* Light gray */
  border-top: 4px solid #a445ed;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
