@import "abstracts/variables";
@import "components/toggle";

* {
  margin: 0;
  padding: 0;
}

// #definitionsContainerOne {
//   background-color: red;

//   p {
//     padding: 0.5rem;
//   }
// }

body {
  background-color: $black;
  color: $white;
  display: flex;
  padding: 0 20rem;
}

.dictionary-wrapper {
  margin-top: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_functionalities {
    display: flex;
    align-items: center;

    // Font dropdwon
    .font-dropdown {
      // width: 200px;
      // background-color: red;
      // padding: 5rem;

      select {
        width: 100%;
        padding: 2px;
        background-color: $black;
        color: $white;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    .theme-feature {
      margin-left: 1.5rem;

      // &::before{
      //   content: "";
      //   position: absolute;
      //   // margin-right: 2rem;
      //   height: 10px;
      //   width: 1px;
      //   bottom: 0;
      //   top: 1rem;
      //   // left: 10rem;
      //   // right: 20rem;
      //   background-color: #fff;
      // }

      .image-toggle {
        .moon {
          stroke: red;
        }
      }

      .night {
        filter: url(#custom-filter);
        stroke: red;
      }

      .custom-filter{
        hue-rotate: 180deg;
      }

      .toggle {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

// Search Container
.search-container {
  margin: 1.5rem 0;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    outline: $purple;
    background-color: $light-black;
    border: none;
  }

  img {
    position: absolute;
    top: 1.3rem;
    right: 0rem;
  }
}

#word-display {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .word {
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.7rem;
      color: $purple;
    }
  }
}

.meanings-container {
  padding-top: 2rem;

  .partsOfSpeech-wrapper {
    padding-bottom: 1.5rem;

    h4 {
      position: relative;
    }

    h4::before {
      content: "";
      width: 100%;
      height: 1px;
      left: 3.5rem;
      top: 0.5rem;
      align-items: center;
      background-color: $very-light-gray;
      position: absolute;
    }
  }

  .meaning-wrapper {
    h2 {
      margin-bottom: 1.5rem;
      color: $gray;
      font-weight: lighter;
      font-size: 1.4rem;
    }
  }
}

.definition-text {
  line-height: 2;
}

.definition-item {
  display: flex;
  margin-bottom: 1rem;
  // line-height: 2;
  // align-items: center;
}
.bullet-point {
  display: inline-block;
  width: 8px;
  margin-right: 5px;
  color: $purple;
  // vertical-align: middle;
}

.definition_container {
  padding-left: 2rem;
}
